<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="איפה המפתחות של הצוללת? משחק הבחירות של כנסת פתוחה">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="https://fonts.googleapis.com/earlyaccess/alefhebrew.css">
    <meta property="og:image" content="/images/splash.png" />

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="bower_components/bootstrap-rtl/dist/css/bootstrap-rtl.css" />
    <link rel="stylesheet" href="bower_components/angucomplete-alt/angucomplete-alt.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="styles/angucomplete.css">
    <!-- endbuild -->
  </head>
  <body ng-app="app" ng-controller="AppController">
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Add your site or application content here -->
    <div class="container">
      <div class="header">
        <div class="timer">
          <header>זמן עד...</header>
          <timer end-time="1426572000000" max-time-unit="'day'" interval="1000">
            <span>ש-{{hhours}}:{{mminutes}}-{{days}}</span>
          </timer>
        </div>
        <a href="/#splash"><img src="/images/logo.png" alt="הלוגו של המפתחות של הצוללת" /></a>
      </div>

      <div class="ctrl">
        <button ng-disabled="firstButton.disabled"
                 class="btn btn-default navbar-btn"
                 ng-click="firstButton()">
          <i class="glyphicon"
             ng-class="{'glyphicon-screenshot': buttonPublish,
                        'glyphicon-home': buttonSub}"></i>
        </button>
        <button class="btn btn-default navbar-btn" ng-click="help()">
          <i class="glyphicon glyphicon-question-sign"></i>
        </button>
        <button class="btn btn-default navbar-btn" ng-really-click="reset()"
          ng-really-message="האם לנקות את הכסאות?">
          <i class="glyphicon glyphicon-trash"></i>
        </button>
      </div>
      <div ui-view=""></div>

      <div class="footer">
        <div class="license">
          <a href="http://creativecommons.org/licenses/by-sa/4.0/">
            <img alt="Creative Commons License" style="border-width:0" src="images/ccbysa.png" />
          </a>
          <br />
          <a href="//github.com/hasadna/Open-Subs">הצטרפו</a>
          <br />
          <a href='/#about'>מה הקטע?</a>
        </div>
        <p>
          מבית היוצר של
          <a href="https://oknesset.org" target="_blank">
            <img src="images/oknesset-logo.png" width="70" alt="כנסת פתוחה" />
          </a>
          ובשיתוף עם
          <a href="http://shkifut.info/" target="_blank">
            <img src="images/100days.png" width="80" />
          </a>
          <div class="clearfix"></div>
          <a href="http://www.themarker.com/news/politics/1.2567409" target="_blank">
            המידע אודות התורמים, המקורבים ותפקודם של 120 המועמדים הריאליים לכנסת, שאוב מתוך פרויקט השקיפות של TheMarker
          </a>
          <br />
        </p>
      </div>
    </div>

    <!-- build:js(.) scripts/oldieshim.js -->
    <!--[if lt IE 9]>
    <script src="bower_components/es5-shim/es5-shim.js"></script>
    <script src="bower_components/json3/lib/json3.js"></script>
    <![endif]-->
    <!-- endbuild -->

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-aria/angular-aria.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-messages/angular-messages.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/angular-jwt/dist/angular-jwt.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-timer/dist/angular-timer.js"></script>
    <script src="bower_components/ngInfiniteScroll/build/ng-infinite-scroll.js"></script>
    <script src="bower_components/spin.js/spin.js"></script>
    <script src="bower_components/angular-spinner/angular-spinner.js"></script>
    <script src="bower_components/ng-facebook/ngFacebook.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="bower_components/angucomplete-alt/angucomplete-alt.js"></script>
    <script src="bower_components/ui-router/release/angular-ui-router.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <script src="scripts/settings.js"></script>

    <!-- build:js({.tmp,app}) scripts/scripts.js -->
    <!-- include: "type": "js", "files": "scripts/**/*.js" -->
    <script src="scripts/angucomplete.js"></script>
    <script src="scripts/app.js"></script>
    <script src="scripts/candidates.js"></script>
    <script src="scripts/committee.js"></script>
    <script src="scripts/dive.js"></script>
    <script src="scripts/fireworks.js"></script>
    <script src="scripts/game.js"></script>
    <script src="scripts/home.js"></script>
    <script src="scripts/key.js"></script>
    <script src="scripts/open_knesset.js"></script>
    <script src="scripts/settings.js"></script>
    <!-- /include -->
    <!-- endbuild -->

    <!-- setting the control panel position -->
    <script>
      $(document).ready(function () {
        $('.ctrl').css({ right: $('.container').offset().left });
      });
    </script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-15521464-2', 'auto');
      ga('send', 'pageview');

    </script>

</body>
</html>
