<div class="about">
  <h1>מה הקטע?</h1>
  <p>
  שלום כאן בני. ביחד עם אורי, אסף, דפנה, תומר, צחי, דניאל, אביחי ועוד אנשים
  טובים פיתחנו
  את המשחק הזה כי שיטת הבחירות הנוכחית דפוקה.  אנחנו רוצים לבחור אנשים ולא
  מפלגות ואנחנו רוצים למנות אותם להוביל את הדיון הציבורי בנושאים ספיציפיים.
  </p>
  <p>
  במשחק שלפניכם, תוכלו לבחור מי יהיו האנשים שיהיו מופקדים על הדיון הציבורי
  הממוסד בכנסת ישראל. במלים אחרות, מי יהיו יושבי הראש של ועדות הכנסת –
  המקום שבו נסגרים הדילים ומאושרים נוסחי החוקים.
  </p>
  <p>
  קצרנו מאתר ועדת הבחירות את שמות כל 1,312 המועמדים בבחירות, ביניהם מצאנו
  לא מעט שמות מפתיעים כמו רוני סומק ואסתי זקהיים, ואת כולם הכנסנו למשחק. בכלל,
  השתדלנו להשאר אוביקטיבים ככל האפשר ולהשאיר את המפלגות מחוץ לתמונה. אם יש לכם
  הערות והצעות לשיפור אתם מוזמנים להצטרף לדיון
  ב<a href="http://forum.hasadna.org.il/c/eknights/12-category">פורום של כנסת פתוחה</a>
  </p>

  <h2>למה ועדות?</h2>
  <p>
  ועדות הכנסת הן איפה שכל הקסם קורה.
  </p>
  <p>
  לכל אורך השבוע, ובעיקר בימים ב',ג',ד', מתקיימות בוועדות דיונים גורליים.
  ההחלטות המתקבלות שם מתרגמות לתוצר עם משמעות ישירה למציאות העוטפת אותנו.
  </p>
  <p>
  רוב דיוני הוועדות מתחלקים לשתי קטגוריות: הצעות חוק, והצעות לדיון דחוף.
  </p>
  <p>
  הצעות חוק: בין הקריאות במליאה, הוועדות הן אלו המנסחות ומגבשות את התכלס
  בהצעות החוק. בוועדה פורטים חברי הוועדה את החוקים שעברו לפחות קריאה אחת
  לפרוטות, דנים בכל סעיף ומשנים במידת הצורך. בשלב זה כל מי שרואה עצמו כנפגע
  פוטנציאלי של החוק יכול להגיע לדיון ולהשמיע את השגותיו. נציגי
  ממשלה רלוונטיים משתתפים בדיון ומגיבים. הכוונון העדין לסעיפי החוק הוא קריטי.
  המשמעות של שינוי של מילה אחת בחוק היא ההבדל בין הטבת מס של מיליון לעומת
  מאה מיליון שקל. בין שנת מאסר לקנס וכיו"ב.
  </p>
  <p>
  בשנים האחרונות גברה נוכחות הלוביסטים במשכן. לוביסטים (לרוב של גופים פרטיים)
  יושבים ברוב אולמות הוועדות, ומנסים להשפיע על הח"כים לפני ואחרי הדיונים.
  זאת במטרה לשדל את נבחרי הציבור לשנות את סעיפי החוק לטובת לקוחותיהם.
  בדיוק בגלל זה חשוב שהח"כים הנוכחים יהיו בעלי עמוד שדרה שלא שוכחים את הציבור
  שלח אותם לשמה.
  </p>
  <p>
  הסוג השני כולל דיונים דחופים: כל ח"כ יכול להגיש הצעה לדיון בענייני דיומא.
  במידה והנושא מאושר על ידי נשיאות הכנסת (המורכבת מיו"ר הכנסת וסגניו) הסוגיה
  תנחת על שולחנה של הוועדה הרלבנטית. לרוב הדיון יתקיים שבועיים.
  </p>
  <p>
  לדיון יוזמנו אישים להם נגיעה בנושא או כאלו היכולים לענות על השאלות הבוערות
  הרלוונטיות - נציגי ממשלה, בעלי עסקים וכו'. באמצעות מסגרת זו מפקחת הכנסת על
  עבודת הממשלה, דשה בסוגיות להן עניין ציבורי, מאיצה בגורמים שונים, או לחלופין
  מאפשרת לחבריה לגרוף כותרות בתקשורת.
  </p>
  <p>
  מלבד כל אלו, הוועדות מטפלות לעיתים בתקנות וצווים שמנפיקה הממשלה.
  גם באלו מוסמכים הח"כים להזריק שינויים - זאת כדי לאזן את מכלול האינטרסים
  הציבוריים והפרטיים לכדי הכרעה מתוכללת. הסיבה שהמילה האחרונה ניתנת לכנסת
  ולא לממשלה היא כדי לאפשר דיון ציבורי מקיף, בו מוצגות התמונה השלמה וההשלכות
  האפשריות לציבור טרם האישור הסופי.
  </p>
  <p>
  האיש החזק ביותר בוועדה הוא יושב ראשה. ח"כ זה חולש על הדיונים, קובע את סדר
  היום, ומכריע לגבי המועד בו יעלו הצעות חוק להצבעה בוועדה, כך שיוכלו להתקדם
  בצנרת החקיקה.
  </p>
  <p>
  רוצים דוגמה קטנטנה? בבקשה. לפי ניתוח של הסדנא לידע ציבורי לבקשת TheMarker
  עולה כי דרך הצינור של וועדת הכספים בראשותו של ח"כ ניסן סלומינסקי מהבית היהודי,
  דלפו הסטות בתקציב המדינה בהיקף חסר תקדים של 55.7 מיליארד שקל - כמעט 13% מתקציב
  של 438 מיליארד שקל. חלק ניכר מההעברות נועדו לשרת מטרות שיש מניע כלשהו להסתיר
  אותן מהח"כים או מהציבור. למרות שמדובר בסכומי עתק, ההעברות האלה נעשו לעתים
  בנוכחות ח"כים בודדים או אפילו בנוכחות יו"ר הוועדה בלבד, בלי הסבר מפורט של
  היעדים והמקורות של ההעברות לחברי הוועדה או לציבור - ותוך הצפת הח"כים בנתונים
  ומספרים מבלבלים ומטעים.
  </p>
  <p>
  כיום, הרכב הוועדה נקבע לפי מפתח מפלגתי, כאשר לקואליציה מובטח בה רוב.
  פרט לועדת החוץ והבטחון, דיוני הוועדות פתוחים לציבור, פרוטוקול רשמי מתפרסם
  כשבועיים-שלושה אחרי הישיבה ורוב הישיבות מצולמות.
  </p>
  <p>
  בכנסת פועלות למעלה מ-12 ועדות קבועות. כל אחת מאויישת בלמעלה מעשרה ח"כים.
  בקדנציה הנוכחית - בה לא מעט מהח"כים טסים, מבריזים או יושבים בכלל ממשלה -
  רק קומץ משתתפים בדיונים. אך זה כבר נושא אחר.
  </p>
  <aside class="credit">
  כתב: תומר אביטל.
  </aside>
  <h2>מאיפה המידע על המועמדים?</h2>
  <p>
  מקור המידע על המועמדים הגיע מתחקיר מיוחד שדה-מרקר ערכו לרגל הבחירות.
  </p>
  <dl>
    <dt>הצהרת הון:</dt>
    <dd>
      הח"כים אינם מחויבים בחשיפה של הצהרת הון שהגישו לכנסת.
      אם הם חשפו את הונם מיוזמתם – המידע מוצג כאן, אך הוא אינו בדוק.
    </dd>
    <dt>בעלות נכסי נדל"ן:</dt>
    <dd>
      הפנינו לכולם שאלה זהה: היכן הם גרים ואלו נכסי נדל"ן נמצאים בבעלותם.
      גם כאן המידע נסמך על הצהרותיהם בלבד.
    </dd>
    <dt>נוכחות במליאת הכנסת ובוועדות:</dt>
    <dd>לפי נתוני אתר ׳כנסת פתוחה׳</dd>
    <dt>הצבעות על חוקי שקיפות בכנסת ה-19:</dt>
    <dd>
      בדקנו כיצד הצביעו הח"כים לגבי ארבעה חוקי שקיפות בכנסת האחרונה
      חשיפת הצבעות ועדת השרים לחקיקה
      גילוי זיקות של חברי הכנסת העלולות להעמידם בניגוד עניינים
      חשיפת תיקי המניות של חברי הוועדות הכלכליות
      תיעוד חופשי של ישיבות המועצה הפומביות.
      ארבעת החוקים נפלו בשלב ההצבעה הטרומית
    </dd>
    <dt>מקורבים:</dt>
    <dd>
      חלק מהח"כים דיווחו לנו מי הם מקורביהם, אך המידע המופיע כאן לא נסמך על
      תשובותיהם בלבד, אלא כולל הצלבות ושיחות רקע רבות עם אנשים מהתחום הפוליטי
      תורמים: רשימות התורמים נלקחו מאתר מבקר המדינה - בו המועמדים מחוייבים
      לעדכן את שמות אלו שתדלקו את חשבון הפריימריז שלהם.
    </dd>
  </dl>
</div>

