      <section class="well">
        <div class="candidate">
          <img ng-if="candidate.img_url" ng-src="{{candidate.img_url}}" alt="picture of {{candidate.name}}" />
          <p ng-repeat="info in candidate.external_info" class="{{info.key}}">
            <span ng-if="info.key == 'kids' && info.value">+</span>
            <!-- some fields require headers, add below -->
            <span class="key" ng-if="info.key == 'age' && info.value">גיל:</span>
            <span class="key" ng-if="info.key == 'declaration' && info.value">הצהרת הון:</span>
            {{info.value}}
          </p>
          <div class="clearfix">
            <button class="btn btn-default btn-lg" ng-click="elect()">
              מנו לראשות {{committee.name}}
            </button>
          </div>
          <ul class="feed">
            <li ng-repeat="status in feed.data" ng-if="status.name">
              <strong>{{status.name}}</strong>
              <p>{{status.description}}</p>
            </li>
          </ul>
        </div>
      </section>

