<div class="candidate">
  <img class="avatar" ng-if="candidate.img_url" ng-src="{{candidate.img_url}}" alt="picture of {{candidate.name}}" />
  <p><strong>
    {{ candidate.themarker.status }}
    <span ng-if="candidate.themarker.kids">+</span>
    {{candidate.themarker.kids}}
  </strong></p>
  <p>{{ candidate.themarker.text }}</p>
  <p> <strong>גיל:</strong>
    {{ candidate.themarker.age }}
  </p>
  <p><strong>כתובת:</strong>
    {{ candidate.themarker.address }}
  </p>
  <p><strong>הצהרת הון:</strong>
    {{ candidate.themarker.declaration }}
  </p>
  <p ng-if="candidate.donor.length > 0">
    <span class="key">תורמים</span>
    <ul>
      <li class="relation" ng-repeat="i in candidate.donor">
      <strong>{{i.name}}</strong>: {{i.titles}}
      </li>
    </ul>
  </p>
  <p ng-if="candidate.related.length > 0">
    <span class="key">מקורבים</span>
    <ul>
      <li class="relation" ng-repeat="i in candidate.related">
      <strong>{{i.name}}</strong>: {{i.titles}}
      </li>
    </ul>
  </p>
  <div ng-if="committee" class="clearfix">
    <button ng-if="!candidate.block" class="btn btn-default btn-lg" ng-click="elect()">
      מנו לראשות ועדת ה{{committee.name}}
    </button>
    <alert ng-if="candidate.block" class="" type="danger">לא ניתן לבחור במועמד ליותר מועדה אחת</alert>
  </div>
  <section class="feed" ng-if="candidate.hasFeed">
    <h4>סטטוסים אחרונים</h4>
    <div>
      <ul>
        <li ng-repeat="status in candidate.feed" ng-show="$index < candidate.feedLength">
          <section class="message" ng-if="status.message">
            <a class="icon" ng-if="status.icon" href="{{status.link}}" target="_blank">
                <img ng-src="{{status.icon}}">
            </a>
            <p>{{status.message}}</p>
            <a ng-if="status.link" href="{{status.link}}" target="_blank">
              ({{ status.shares.count || 0 }} שיתופים)
            </a>
            <p ng-if="!status.link">{{status.message}}</p>
          </section>
        </li>
      </ul>
      <button ng-if="candidate.feedLength > 0 && candidate.feedLength < candidate.feed.length"
        class="btn btn-default btn-lg"
        ng-click="candidate.feedLength = candidate.feedLength + 3">
        <i class="glyphicon glyphicon-arrow-down"></i>
      </button>
    </div>
  </section>
  <div ng-if="candidate.hasFeed && candidate.feedLoading" class="loading">
    <span us-spinner></span>
  </div>
  <section class="feed" ng-if="candidate.hasFeed && !candidate.feedLoading && candidate.feedLength == -1">
    <p class="active">שגיאה בטעינת הסטטוסים</p>
  </section>
</div>
