<div class="candidate">
  <img ng-if="candidate.img_url" ng-src="{{candidate.img_url}}" alt="picture of {{candidate.name}}" />
  <p ng-repeat="info in candidate.external_info" class="{{info.key}}">
    <span ng-if="info.key == 'kids' && info.value">+</span>
    <!-- some fields require headers, add below -->
    <span class="key" ng-if="info.key == 'age' && info.value">גיל:</span>
    <span class="key" ng-if="info.key == 'declaration' && info.value">הצהרת הון:</span>
    {{info.value}}
  </p>
  <p ng-if="candidate.donor">
    <span class="key">תורמים:</span>
    <span class="relation" ng-repeat="i in candidate.donor">
      {{i.name}}
      <span ng-if='(!$last)'>,</span>
    </span>
  </p>
  <p ng-if="candidate.related">
    <span class="key">מקורבים:</span>
    <span class="relation" ng-repeat="j in candidate.related">
      {{j.name}}
      <span ng-if='(!$last)'>,</span>
    </span>
  </p>
  <div ng-if="committee" class="clearfix">
    <button class="btn btn-default btn-lg" ng-click="elect()">
      מנו לראשות {{committee.name}}
    </button>
  </div>
  <section class="feed">
    <h4 ng-if="candidate.feedLength !== 0">סטטוסים אחרונים</h4>
    <div ng-if="candidate.feedLength > 0">
      <ul>
        <li ng-repeat="status in candidate.feed" ng-show="$index < candidate.feedLength">
          <section class="message" ng-if="status.message">
            <a ng-if="status.icon" href="{{status.link}}" target="_blank">
              <aside>
                <img ng-src="{{status.icon}}">
              </aside>
            </a>
            <p>{{status.message}}</p>
            <a ng-if="status.link" href="{{status.link}}" target="_blank">
              ({{ status.shares.count || 0 }} שיתופים)
            </a>
            <p ng-if="!status.link">{{status.message}}</p>
          </section>
        </li>
      </ul>
      <button class="btn btn-default btn-lg"
        ng-click="candidate.feedLength = candidate.feedLength + 3">
          <i ng-if="(!$first)" class="glyphicon glyphicon-arrow-down"></i>
      </button>
    </div>
  </section>
  <section class="feed" ng-if="candidate.feedLength == -1">
    <p class="active">טוען סטטוסים ...</p>
  </section>
</div>
