<h1>{{committee.name}}</h1>
<p>{{committee.description}}</p>
<form id="chair-form">
<angucomplete id="chair"
              placeholder="בחר יושב(ת) ראש"
              pause="100"
              selectedobject="selectedChair"
              localdata="candidatesArray"
              searchfields="name"
              titlefield="name"
              minlength="1"
              inputclass="form-control form-control-small"></angucomplete>
</form>
<ul class="candidates">
  <li ng-repeat="candidate in candidates | orderBy:name">
  <a href="" ng-click="elect(candidate.id)">{{candidate.name}}</a>
  </li>
</ul>
