    <h3>מנו&#x05BC; יושבות ויושבי ראש לועדות הכנסת</h3>
    <p>
    במסך הבא תוכלו למנות אחד מ-1,311 המועמדים לראשות הוועדה.
    אל תתנו לאיוש השרים להטריד אתכם, השרים יהיו מקצועניים לעילא ולעילא,
    יכבדו את הכנסת ויביאו עניינים עקרונים לדיון בועדות.
    </p>
    <p>
    שמות המועמדים נקצרו מאתר ועדת הבחירות המרכזית והמידע עליהם נאסף על ידי
    תומר אביטל וכתבי TheMarker.
    </p>
    <p>
      <strong>הארה: </strong>
      המפלגות חולקו לשתי קבוצות: אלו שעוברות לפי הסקרים את אחוז החסימה 
      ואלו שלא. כל אחת מהקבוצות מסודרת באופן אקראי.
    </p>
    <div ng-if="loading" class="loading">
      <span id="spinner" ng-show="loading" us-spinner></span>
    </div>
    <button class="btn btn-default btn-lg" ng-click="startElecting()"ng-disabled="loading">
      בחרו
    </button>

