<div class="ctrl" ng-include="'/views/ctrl.html'"> </div>
<div class="sub">
  <alert ng-if="viewOnly" type="danger">המשחק מצב צפייה בלבד! 
    <a href="#/home">לחץ כאן להתחיל חדש!</a>
  </alert>
  
  <div class="subs-row row{{$index}}" ng-repeat="row in rows">
    <div class="chair" ng-repeat="chair in row">
      <a href="{{chair.absolute_url}}">
        <section ng-switch="$parent.$index">
          <div  ng-switch-when="0">
            <h1>{{chair.name}}</h1>
            <h2>{{chair.chosen.name}}</h2>
            <ng-include src="'/views/chair_image.html'"></ng-include>
          </div>
          <div ng-switch-when="1">
            <ng-include src="'/views/chair_image.html'"></ng-include>
            <h2>{{chair.chosen.name}}</h2>
            <h1>{{chair.name}}</h1>
          </div>
        </section>
      </a>
    </div>
  </div>
</div>
<div class="clearfix"></div>
