<div class="modal-body">
  <section class="welcome">
    <h3>הצוללת שלנו טובעת</h3>
    המושחתים, המאכערים, המחוברים והטייקונים<br />ניקבו את המדינה ועשוה&#x05B8; כ&#x05BC;&#x05b4;כ&#x05B0;ברה.
    <h3>זה בידיים שלנו!</h3>
    כל מה שצריך כדי לצאת מהמצולות זו נבחרת של נציגי ציבור שתשרתנו נאמנה ותוביל ותסכם את הדיון הציבורי.
    <h3>מנו&#x05BC; נבחרת!</h3>
    <p>
      אל תתנו למפלגות להגביל אתכם, בין המועמדים בבחירות יש גם הרבה אנשים טובים
      ויש רק תריסר ועדות קבועות.
    </p>
    <div ng-if="loading" class="loading">
      <span id="spinner" ng-show="loading" us-spinner></span>
    </div>
    <button class="drive btn btn-default btn-lg" ng-click="$close()" ng-disabled="loading">
      סע בן-צור, סע!
    </button>
    <a class="maketa" ng-click="about()">מה הקטע?</a>
  </section>
</div>

