<!-- TODO: refactor to a <loading> directive -->
<div ng-if="loading" class="loading">
  <h2>רגע... טוענים</h2>
  <p>
    אם אתה מחכה מעל 10 שניות, נסה לרפרש.  אם גם לא עוזר,
    <a href="mailto:support@hasadna.org.il">ספר לנו</a>
  </p>
</div>

  <div class="committee" ng-repeat="chair in chairs">
    <a href="#{{chair.absolute_url}}">
      <div class="chair">
      {{chair.name}}
        <section ng-if="chair.chosen.img_url">
          <img src="{{chair.chosen.img_url}}" alt="avatar for {{chair.chosen.name}}"/>
        </section>
        <p>
          {{chair.chosen.name}}
        </p>
      </div>
    </a>
  </div>
<ng-really-click ng-really-click="reset()" ng-really-message="האם לנקות את הכסאות?">
  <i class="glyphicon glyphicon-trash"></i>
</ng-really-click>
