<!-- TODO: refactor to a <loading> directive -->

<div ng-if="firstTime || loading" class="slide">
  <h1>הצוללת שלנו טובעת</h1>
  המושחתים, המאכרים, המחוברים והטייקונים ניקבו את המדינה ועשוה&#x05B8; ככ&#x05B0;ברה.
  <h1>זה בידים שלנו!</h1>
  כל מה שצריך כדי לצאת מהמצולות זה נבחרת של נציגי ציבור שתשרתנו נאמנה.
  <h1>מנו&#x05BC; נבחרת!</h1>
  <p>
    אל תתנו למפלגות להגביל אתכם, בין המועמדים בבחירות יש הרבה אנשים טובים
    ויש רק תריסר ועדות קבועות.
  </p>
  <button class="btn btn-default btn-lg" ng-click="go()" ng-disabled="loading">
    סע בן-צור, סע!
  </button>
  <!-- loading message -->
  <div ng-if="loading" class="loading">
    <p>
      רגע... טוענים.
      אם אתה מחכה מעל 10 שניות, נסה לרפרש.  אם גם לא עוזר,
      <a href="mailto:support@hasadna.org.il">ספר לנו</a>
    </p>
  </div>
</div>
<div ng-hide="firstTime">
  <div class="committee" ng-repeat="chair in chairs">
    <a href="#{{chair.absolute_url}}">
      <div class="chair">
      {{chair.name}}
        <section ng-if="chair.chosen.img_url">
          <img src="{{chair.chosen.img_url}}" alt="avatar for {{chair.chosen.name}}"/>
        </section>
        <p>
          {{chair.chosen.name}}
        </p>
      </div>
    </a>
  </div>
  <ng-really-click ng-really-click="reset()" ng-really-message="האם לנקות את הכסאות?">
    <i class="glyphicon glyphicon-trash"></i>
  </ng-really-click>
  <i class="glyphicon glyphicon-question-sign" ng-click="firstTime = 1-firstTime"></i>
</div>
