<section class="slide">
  <div class="modal-body">
    <h1>המפתח שלכם</h1>
    <p>
      המפתח שלכם הוא הנבחרת שתוביל את המדינה. נבחרת של 12 נציגי ציבור
      שמובילים ומסכמים את הדיון הציבורי בנושאים השונים.
    </p>
    <p>
    ערב לפני הבחירות נסכם את הבחירות של כל השחקנים ונפרסם את הכנסת הנבחרת 
    שתורכב מעשרת המועמדים המובילים בכל ועדה.

    </p>
  </div>
  <div class="modal-footer">
    <button class="btn btn-default btn-lg" ng-click="$close()"ng-disabled="loading">
      חזרו
    </button>
  </div>
  <!-- loading message -->
</section>

