<div class="ctrl" ng-include="'/views/ctrl.html'"> </div>
<div id="sea">
 <section class="key">
  <h1 ng-if="diff">מפתח של חברים</h1>
  <h1 ng-if="!diff && !emptyChairs">מצאתם את המפתח!</h1>
  <h1 ng-if="!diff && emptyChairs">מפתח בליטוש</h1>
  <p ng-if="!diff && emptyChairs">
      צוללת זקוקה לצוות מלא כדי להפוך למבצעית. <br />
      המשיכו ללטש - עוד {{emptyChairs}} נבחרים/ות ויוצאים לדרך
  </p>
  <div ng-if="!emptyChairs">
    <i class="glyphicon glyphicon-link"></i>
      <input class="url" type="text" value="{{key.abs}}" autofocus readonly="readonly"></input>
    <i class="glyphicon glyphicon-link"></i>
  </div>
  <canvas id="key-canvas"></canvas>
  <!--
  <div class="key-row row{{$index}}" ng-repeat="row in rows">
    <div class="tooth" ng-repeat="tooth in row"
         >
      <h4 style="right: {{tooth.right-40}}px;">{{tooth.name}}</h4>
      <h3 style="right: {{tooth.right}}px;">{{tooth.chosen.name}}</h3>
    </div>
  </div>
  -->
  <div class="share"  ng-if="!diff && !emptyChairs">
    <form>
      <textarea rows="3" placeholder="היו גם אתם קבלני קולות וספרו לחברה על הנבחרת שלכם" required></textarea>
      <div class="pull-left">
        <a href="/#published">מעדיף לשמור על הפרטיות שלי</a>
        <button class="btn btn-default btn-lg" ng-click="publish()">
           פרסמו המפתח
        </button>
      </div>
    </form>
  </div>
</section>
<section class="merge" ng-if="diff.length">
    <table class="table">
      <thead>
        <tr>
          <th>ועדה</th>
          <th>הבחירה שלכם</th>
          <th colspan="2">הבחירה שלהם</th>
        </tr>
      </thead>
      <tr ng-repeat="chair in diff">
        <td class="chair-name">{{chair.name}}</td>
        <td ng-if="chair" class="person">{{chair.chosen.name}}</th>
        <td ng-if="!chair" class="person">כסא ריק</th>
        <td>
          {{chair.suggested}}
        </td>
        <td>
          <button class="btn btn-default" ng-click="adopt(chair)"
            data-toggle="tooltip" title="מנו את {{chair.suggested}}">
            <span ng-if="chair.chosen">שנו</span>
            <span ng-if="(!chair.chosen)">מנו</span>
          </button>
        </td>
      </tr>
    </table>
 </section>
</div>
