<section class="key">
    <h1 ng-if="subStaffed">מצאתם את המפתח שלכם!</h1>
    <h1 ng-if="(!subStaffed)">מפתח בליטוש</h1>
    <i ng-if="subStaffed" class="glyphicon glyphicon-link"></i>
      <input class="url" type="text" value="{{url.abs}}" autofocus readonly="readonly"></input>
    <i class="glyphicon glyphicon-link"></i>
  </div>
  <div>
    <canvas id="key-canvas"></canvas>
    <!--
    <div class="key-row row{{$index}}" ng-repeat="row in rows">
      <div class="tooth" ng-repeat="tooth in row"
           >
        <h4 style="right: {{tooth.right-40}}px;">{{tooth.name}}</h4>
        <h3 style="right: {{tooth.right}}px;">{{tooth.chosen.name}}</h3>
      </div>
    </div>
    -->
    <div class="share"  ng-disabled="(!subStaffed)">
      <form>
      <textarea rows="3" placeholder="ספר לחברים למה הנבחרת שלך מסוגלת" required></textarea>
      <div class="pull-left">
        <a href="/#home">בחזרה לצוללת</a>
        <button class="btn btn-default btn-lg" ng-click="publish()">
           פרסמו
        </button>
      </div>
    </form>
    </div>
    <p ng-hide="subStaffed">
      מצטערת, צוללת זקוקה לצוות מלא כדי להפוך למבצעית. <br />
      המשיכו ללטש - עוד {{chairsLeft}} נבחרים/ות ויוצאים לדרך
    <p>
</section>
<script>
  $(document).ready( function () {
    $("input").focus();
  });
</script>
