<div class="committee">
  <section class="top"><div class="message">
    <h1>&#64305;&#x5b4;חרו את נבחרת החלומות</h1>
    <p>
    במסך הבא תוכלו למנות אחד מ-1312 המועמדים לראשות הוועדה.
    </p>
    <p>
    שמות המועמדים נקצרו מאתר ועדת הבחירות המרכזית והמידע עליהם נאסף על ידי
    תומר אביטל וכתבי TheMarker.  בנוסף, תוכלו לקרוא את העידכונים האחרונים של
    המועמדים בפרצוףספר וההצבעות שלכם ישמרו בכנסת פתוחה וישמשו אותנו בחישוב
    כנסת החלומות.
    </p>
    <p>
      <strong>הארה: </strong>
      המפלגות חולקו לשתי קבוצות: אלו שעוברות ואלו שלא.  כל אחת מהקבוצות מסודרת באופן אקראי.
    </p>
    <div ng-if="loading" class="loading">
      <span id="spinner" ng-show="loading" us-spinner></span>
    </div>
  </div></section>
  <section class="body">
    <a style="margin-top: 1em;" class="btn btn-primary btn-lg" ng-click="ok()">התחברו לפייסבוק</a>
  </section>
</div>

