<section class="key">
  <div class="modal-header">
    <h1 ng-if="subStaffed">פרסמו את הנבחרת</h1>
    <h1 ng-if="(!subStaffed)">מפתח בליטוש</h1>
    <i ng-if="subStaffed" class="glyphicon glyphicon-link"></i>
      <input type="text" value="{{teamUrl}}" autofocus readonly="readonly"></input>
    <i class="glyphicon glyphicon-link"></i>
  </div>
  <div class="modal-body">
    <canvas id="key-canvas"></canvas>
  </div>
  <div class="modal-footer">
    <form>
      <textarea class="span6" rows="3" placeholder="ספר לחברים למה הנבחרת שלך מסוגלת" required></textarea>
    <button class="btn btn-default btn-lg" ng-click="$close()" ng-disabled="(!subStaffed)">
       פרסם בפרצוףספר
    </button>
    </form>
  </div>
</section>
<script>
  $(document).ready( function () {
    $("input").focus();
  });
</script>
