// bower:scss
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: "Alef Hebrew",
               “Helvetica Neue”,
               Helvetica,
               Arial,
               sans-serif;

}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  text-align: center;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  margin-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;

  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;

  p + h4 {
    margin-top: 28px;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 1em;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
//
li { list-style: none; }
.container { text-align: center; }
.committee {
  padding-bottom: 3em;
  .subs-row {
    height: 14em;
    clear: both;
    // .row1 { clear: both; }
    .chair {
      width: 7em;
      float: right;
      padding-top: 0em;
      margin: 0.2em;
      text-align: center;
      h1 { font-size: 150%; height: 4.5em; }
      h2 { font-size: 120%; height: 2em; }
      p { font-weight: bold; text-align: center; height: 3em; }
      img {
        height:110px;
      }
      .avatar { 
        width:75px;
        height: 75px;
        overflow: hidden;
        border-radius: 40%;
        border: 4px inset;
        margin: 0 auto;
      }
    }
  }
  aside { float: left; }
}
#chair-form { width: 60%; margin: 0.5em auto;}
.footer {
  margin-top: 1em;
  clear: both;
  text-align: right;
  .license { float:left; }
}
.timer {
  float:left;
  span { font-size: 150%; }
}
.candidates {
  width: 80%;
  margin: 1em auto;
  li { display: inline; }
  .ord1 {font-size: 180%; }
  .ord2, .ord3 {font-size: 130%; }
  .ord4, .ord5, .ord6, .ord7 {font-weight: bold; }
  i {color:grey;}
}
.candidate {
  text-align: center;
  img {display: block; float: right; padding: 0.5em; }
  // button { display: block; padding: 1em; clear:both; }
  .status { float: right; padding-left:0.5em; }
  .key, .text {font-weight: bold; }
  .party, .name {display:none; }
  p {text-align: right; }
}
.slide {
  width: 80%;
  margin: 0 auto;
  padding: 1.5em;
  border: 2px solid black;
  border-radius: 10px;
}
.feed {
  padding: 2em 2em 0em 2em;
  ul { padding: 1em 2em; }
  .message { padding-top: 1em; }
  .message p { margin-bottom: 0; }
}
.splash {
  img { width:100%; }
}
