// bower:scss
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: "Alef Hebrew",
               “Helvetica Neue”,
               Helvetica,
               Arial,
               sans-serif;

}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  background-color: #374a60;
  border-bottom: 1px solid #e5e5e5;
  text-align: center;
  color: white;
  .buttons {
    float: right;
    i { font-size: 24px; padding-top: 6px; }
    a { text-decoration: none; }
  }
  a:hover { text-decoration: none; }
  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin: 0 75px 0 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
  .timer {
    float:left;
    padding-top: 16px;
    padding-left: 8px;
    span { font-size: 150%; }
  }

}

/* Custom page footer */
.footer {
  padding-top: 19px;
  margin-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;

  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;

  p + h4 {
    margin-top: 28px;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 1em;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
// app styles
.avatar { height: 110px; }
li { list-style: none; }
.container { position: relative; text-align: center; padding: 0; }
.sub {
  height: 470px;
  position: relative;
  background-image : url('/images/sub.jpg');
  padding-bottom: 3em;
    #chair-2 { top: 205px; right: 80px; }
    #chair-9 { top: 144px; right: 200px; }
    #chair-4 { top: 134px; right: 318px; }
    #chair-1 { top: 144px; right: 442px; }
    #chair-15 { top: 205px; right: 556px; }
    #chair-8 { top: 249px; right: 209px; }
    #chair-5 { top: 247px; right: 318px; }
    #chair-10 { top: 248px; right: 431px; }
    #chair-11 { top: 310px; right: 118px; }
    #chair-6 { top: 355px; right: 256px; }
    #chair-3 { top: 355px; right: 383px; }
    #chair-99 { top: 310px; right: 532px; }
    .chair {
      width: 7em;
      position: absolute;
      padding-top: 0em;
      margin: 0.2em;
      text-align: center;
      h2 { margin: 0; font-size: 120%; color: #374a60; }
      p { font-weight: bold; text-align: center; height: 3em; }
      img {
        height:110px;
      }
      .window {
        position: relative;
        img {
          position: relative;
          width:70px;
          height: 70px;
          overflow: hidden;
          border-radius: 50%;
          border: 4px inset;
          margin: 0 auto;
        }
        img.covered {
          position: absolute;
          top: -1px;
          right: 12px;
          border: none;
        }
      }
  }
}
aside { float: left; }
#chair-form {
  z-index: 2;
  transform: rotate(4deg);
  position:absolute;
  right:165px;
  top:140px;
  width: 40%;
  margin: 0.5em auto 3em;
}
.footer {
  margin-top: 1em;
  clear: both;
  text-align: right;
  .license { float:left; text-align: left; }
}
.org {
  width: 80%;
  margin: 0 auto 2em;
  padding: 0.5em;
  background-color: white;
  border-radius: 5px;
  li { display: inline; }
  li.relation { display: block; text-align: right;}
  .ord2, .ord3 {font-size: 130%; }
  .ord4, .ord5, .ord6, .ord7 {font-weight: bold; }
  .ord1, .expanded {font-size: 180%; }
  i {color:grey;}
}
.candidate {
  font-size: 16px;
  text-align: center;
  img {display: block; float: right; padding: 0.5em; }
  // button { display: block; padding: 1em; clear:both; }
  .status { float: right; padding-left:0.5em; }
  .key, .text {font-weight: bold; }
  .party, .name {display:none; }
  p {text-align: right; }
  .feed {
    padding: 1em 1em 0em 1em;
    ul { padding: 0 0 0.5em; }
    .message {
      padding-top: 1em;
      p { margin-bottom: 0; height: auto; }
      .icon { float: right; }
    }
  }
}
.slide {
  width: 80%;
  margin: 0 auto;
  padding: 1.5em;
  text-align: center;
  .modal-footer { text-align: center; }
}
.splash {
  position: relative;
  background-image: url('/images/splash.png');
  width: 100%;
  height: 470px;
  .play { background-color: transparent;
    background-image: url('/images/play.png');
    background-position: -42px -18px;
    height: 66px;
    width: 100px;
    position: absolute;
    top: 330px;
    right: 292px;
  }
  .play:hover { background-position: -189px -18px; }
}
.loading { margin-top: 1em; height: 3em; position: relative; }
.ascii { font-family: monospace; }
.committee {
  .top {
    background-image: url('/images/committee_top.jpg');
    height: 250px;
    p {
      padding: 0 1em;
    }
  }
  .body {
    background-image: url('/images/committee_body.jpg');
    padding-bottom: 2em;
    .details { width: 80%;  margin: 0 auto 1em; }
  }
}
.loading { position: relative; }

#fireworks-template {
 display:none;
}

#fireContainer {
 position:absolute;
 left:0px;
 top:0px;
 z-index:706;
}

.firework {
 /* containing box which flies out first */
 position:absolute;
 left:0px;
 top:0px;
 font-size:1px;
 width:4px;
 height:4px;
 border:1px solid #333;
 background:#666;
}

.fireworkParticle {
 /* elements that explode from the container */
 position:absolute;
 font-size:1px;
 width:10px;
 height:10px;
 overflow:hidden;
}

.fireworkParticle img {
 display:block;
 width:100px;
}

#sound {
 position:absolute;
 left:-706px;
 top:-706px;
}
.ctrl {
  z-index: 9;
  position: fixed;
  width: 158px;
  height: 52px;
  top: 36px;
  background-color: rgb(175, 234, 250);
  padding: 0 1em;
  border-radius: 3px;
  margin-right: 16px;
}
.tooth {
  h3, h4 {
    margin: 0.5em;
    background-color: 0xc0c0c0;
    position: absolute;
    padding: 0.1em;
    text-align:right;
    width:12em;
  }
  h3 {
    transform: rotate(-90deg); 
    transform-origin: right top 0;
    top: 180px;
    width:12em;
  }
  h4 {
    transform: rotate(90deg);
    transform-origin: right top 0;
    padding-right: 3em;
    top: 260px;
  }
}
section { position: relative; }
.key-row { height: 10em;}
.key {
  .modal-header, .modal-footer { text-align: center;}
  margin: 0 auto;
  .modal-footer {
    p { color: orange; }
  }
  input, textarea { width: 80%; }
  .modal-body { height: 330px; }
}

#key-canvas {
  width: 560px;
  height: 300px;
  // background-image: url('/images/key.png');
  // background-repeat: no-repeat;
  // background-position: 0 70px;
}
.home-help {
  .modal-content {
    height: 470px;
    background-image : url('/images/home_help.jpg');
  }
  .modal-lg { width:746px; }
  .modal-body {
    text-align: center;
    margin-top: 0;
    h3 { font-weight: bold; margin-top: 0; }
    section {
      margin: 0 auto;
      width: 400px;
      button { background-color: #62FFF4; }
    }
  }
}
.about {
  text-align: right;
  dd { padding-right: 4em; }
}
#fireworks { position: absolute; top:0; right:0; }
.sail {
  position: relative;
  background-image : url('/images/sea.png');
  background-size: 100%, 100%;
  width: 730px;
  height: 490px;
  #triton {
    width:50px;
  }
  #sub {
    animation-duration: 3s;
    animation-name: dive;
    animation-iteration-count: 10;
    animation-direction: alternate;
    position: absolute;
    right: 150px;
    width: 200px;
  }
  @keyframes dive {
    from {
      top: 80px;
    }
    to {
      top: 300px;
    }
  }
}
