// bower:scss
// endbower
$lightSub: #FCE321;
$medSub: #FCd421;
$darkSub: #FCC221;
$land: #2A5E80;
$windowFrame: #836B07;

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: noto,
               "Alef Hebrew",
               “Helvetica Neue”,
               Helvetica,
               Arial,
               sans-serif;

}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  background-color: #374a60;
  border-bottom: 1px solid #e5e5e5;
  text-align: center;
  color: white;
  .buttons {
    float: right;
    i { font-size: 24px; padding-top: 6px; }
    a { text-decoration: none; }
  }
  a:hover { text-decoration: none; }
  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin: 0 75px 0 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
  .timer {
    float:left;
    padding-top: 16px;
    padding-left: 8px;
    span { font-size: 150%; }
  }

}

/* Custom page footer */
.footer {
  padding-top: 19px;
  margin-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;

  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;

  p + h4 {
    margin-top: 28px;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 1em;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
// app styles
@font-face {
  font-family: noto;
  src: url('/fonts/NotoSansHebrew-Regular.ttf');
}

@import url(//fonts.googleapis.com/css?family=Noto+Sans:400,700,400italic,700italic&subset=latin,latin-ext);
.avatar { height: 110px; }
li { list-style: none; }
.container { position: relative; text-align: center; padding: 0; }
.sub {
  position: absolute;
  top: 0;
  right: 0;
  // height: 470px;
  // width: 730px;

  // animation when the sub is filled
  animation-play-state: paused;
  animation-duration: 19s;
  animation-fill-mode: forwards;
  animation-name: shrink;

  .background {
    display: block;
    position: absolute;
    right:-12px;
    top: -1px;
  }
  // chair positioning, initial thanks to Daniel & Avihai
  #chair-2 { top: 205px; right: 100px; }
  #chair-9 { top: 143px; right: 217px; }
  #chair-4 { top: 132px; right: 336px; }
  #chair-1 { top: 143px; right: 459px; }
  #chair-15 { top: 205px; right: 575px; }
  #chair-8 { top: 247px; right: 228px; }
  #chair-5 { top: 246px; right: 336px; }
  #chair-10 { top: 248px; right: 449px; }
  #chair-11 { top: 310px; right: 136px; }
  #chair-6 { top: 353px; right: 274px; }
  #chair-3 { top: 353px; right: 401px; }
  #chair-99 { top: 310px; right: 551px; }

  a:hover {
    text-decoration: none;
  }
  .chair {
    z-index: 5;
    position: absolute;
    padding-top: 4px;
    margin: 0.2em;
    text-align: center;
    h2 {
      margin: 66px 0 0 0;
      font-size: 100%;
      color: $lightSub;
      background-color: $windowFrame;
      border-radius: 5px;
      opacity: 0.9;
      width: 88px;
      padding: 2px;
    }
    p { font-weight: bold; text-align: center; height: 3em; }
    img {
      height:110px;
    }
    .window {
      position: relative;
      img {
        position: absolute;
        width:60px;
        height: 60px;
        overflow: hidden;
        border-radius: 50%;
        top: 0;
        right: 0;
      }
      img.covered {
        position: absolute;
        top: 0;
        right: 0;
        border: none;
      }
    }
  }
}
.focus {
  // perspective: 1200px;
  position: relative;
  width: 730px;
  height: 470px;
  .bubbles {
    display: block;
    position: absolute;
    width: 200px;
    z-index:100;
    animation-play-state: running;
    animation-duration: 2s;
    animation-name: bubble;
    animation-timing-function: linear
  }
}
#bub1 { right: 80px; }
#bub2 { right: 140px; }
#bub3 { right: 180px; }
#bub4 { right: 220px; }
#bub5 { right: 260px; }
#bub6 { right: 300px; }
// .focus { animation-move: zoomOut; }
aside { float: left; }
#chair-form {
  z-index: 2;
  transform: rotate(4deg);
  position:absolute;
  right:165px;
  top:140px;
  width: 40%;
  margin: 0.5em auto 3em;
}
.footer {
  margin-top: 1em;
  clear: both;
  text-align: right;
  .license { float:left; text-align: left; }
}
.org, .message {
  width: 80%;
  margin: 0 auto 2em;
  padding: 0.5em;
  background-color: white;
  border-radius: 5px;
}
.org {
  width: 80%;
  margin: 0 auto 2em;
  padding: 0.5em;
  background-color: white;
  border-radius: 5px;
  li { display: inline; }
  li.relation { display: block; text-align: right;}
  .ord2, .ord3 {font-size: 130%; }
  .ord4, .ord5, .ord6, .ord7 {font-weight: bold; }
  .ord1, .expanded {font-size: 180%; }
  i {color:grey;}
}
.candidate {
  font-size: 16px;
  text-align: center;
  p {text-align: right; }
  img {display: block; float: right; padding: 0.5em; }
  // button { display: block; padding: 1em; clear:both; }
  .status { float: right; padding-left:0.5em; }
  .key, .text {font-weight: bold; }
  .party, .name {display:none; }
  .feed {
    padding: 1em 1em 0em 1em;
    ul { padding: 0 0 0.5em; }
    .message {
      padding-top: 1em;
      p { margin-bottom: 0; height: auto; }
      .icon { float: right; }
    }
  }
}
.slide {
  width: 80%;
  margin: 0 auto;
  padding: 1.5em;
  text-align: center;
  .modal-footer { text-align: center; }
}
.splash {
  position: relative;
  background-image: url('/images/splash.png');
  width: 100%;
  height: 470px;
  .play { background-color: transparent;
    background-image: url('/images/play.png');
    background-position: -42px -18px;
    height: 66px;
    width: 100px;
    position: absolute;
    top: 330px;
    right: 292px;
  }
  .play:hover { background-position: -189px -18px; }
}
.loading { margin-top: 1em; height: 3em; position: relative; }
.btn[disabled] { opacity: 0.5; }
.committee {
  .top {
    background-image: url('/images/committee_top.jpg');
    height: 250px;
    padding-top: 1em;
    p { padding: 0 1em; }
  }
  .body {
    background-image: url('/images/committee_body.jpg');
    padding-bottom: 2em;
    .details { width: 80%;  margin: 0 auto 1em; }
    .elect {
      z-index: 9;
      position: fixed;
      bottom: 40px;
      right: 20%;
      background-color: $lightSub;
      width: 60%;
      padding: 1em;
      border-radius: 10px;
      button { width: 100%; }
    }
  }
}
.loading { position: relative; }

#fireworks-template {
 display:none;
}

#fireContainer {
 position:absolute;
 left:0px;
 top:0px;
 z-index:706;
}

.firework {
 /* containing box which flies out first */
 position:absolute;
 left:0px;
 top:0px;
 font-size:1px;
 width:4px;
 height:4px;
 border:1px solid #333;
 background:#666;
}

.fireworkParticle {
 /* elements that explode from the container */
 position:absolute;
 font-size:1px;
 width:10px;
 height:10px;
 overflow:hidden;
}

.fireworkParticle img {
 display:block;
 width:100px;
}

#sound {
 position:absolute;
 left:-706px;
 top:-706px;
}
.ctrl {
  z-index: 9;
  position: fixed;
  width: 158px;
  height: 52px;
  top: 87px;
  background-color: rgb(175, 234, 250);
  padding: 0 1em;
  border-radius: 3px;
  margin-right: 16px;
}
.tooth {
  h3, h4 {
    margin: 0.5em;
    background-color: 0xc0c0c0;
    position: absolute;
    padding: 0.1em;
    text-align:right;
    width:12em;
  }
  h3 {
    transform: rotate(-90deg); 
    transform-origin: right top 0;
    top: 180px;
    width:12em;
  }
  h4 {
    transform: rotate(90deg);
    transform-origin: right top 0;
    padding-right: 3em;
    top: 260px;
  }
}
section { position: relative; }
.key-row { height: 10em;}
.merge {
  padding-bottom: 1em;
  clear: both;
  table { width: 75%; margin: 0 auto;}
  th {text-align: center; }
  .chair-name { text-align: right; }
}
.key {
  height: auto;
  margin: 0 auto;
  h1 { color: $lightSub; padding-top: 0.5em; }
  input { width: 60%; }
  canvas {
    margin-right: 30px;
    width: 560px;
    height: 430px;
    padding-bottom: 1em;
  }
  .share {
    z-index: 100;
    position:absolute;
    top: 400px;
    right: 20px;
    width: 480px;
    height: auto;
    textarea  { width: 100%; }
    a { color: $lightSub; }
  }
  p { color: $darkSub; }
}

.home-help {
  .modal-content {
    height: 470px;
    background-image : url('/images/home_help.jpg');
  }
  .modal-lg { width:746px; }
  .modal-body {
    text-align: center;
    margin-top: 0;
    padding: 45px;
    h3 { font-weight: bold; margin-top: 0; }
    section {
      margin: 0 auto;
      width: 400px;
      button {
        background-color: #62FFF4;
        padding: 2px 12px;
      }
    }
  }
}
.about {
  text-align: right;
  .research { width: 40%; padding-right: 1em; margin-right: 1em; }
  dd { padding-right: 4em; }
}
#fireworks { position: absolute; top:0; right:0; }
.dive {
  position: relative;
  width: 730px;
  height: 470px;
  // width: 730px;
  // height: 490px;
  // img { display: block; }
  #diver {
    position: absolute;
    width: 100px;
    display: none;
  }
  #triton {
    display: none;
    width: 180px;
    position: absolute;
  }
}
.url { text-align: left; }
// our background is a sea
#sea {
  background-image : url('/images/sea.png');
  position: relative;
  background-repeat: no-repeat;
  background-color: #00A99D;
}
// Animations!
//   contributors: Benny, Noya
@keyframes dive {
    0% {
      top: 220px;
      left: 360px;
    }
    20% {
      top: 350px;
      left: 560px;
    }
    40% {
      left:393px;
      top: 330px;
    }
    60% {
      left:326px;
      top: 330px;
    }
    80% {
      left:132px;
      top: 382px;
    }
    100% {
      left:39px;
      top: 51px;
    }
}
@keyframes shrink {
  from {
    transform: scale(1);
  }
  20% {
    right: 100px;
    top: 330px;
    transform: scale(0.27);
  }
  30% {
    transform: scale(0.55);
    right: 200px;
    top: 230px;
  }
  40% {
    transform: scale(0.40);
    right: 300px;
    top: 280px;
  }
  to {
    right: 400px;
    top: 60px;
    transform: scale(0.27);
  }
}
@keyframes bubble {
  from {
    top: 300px;
  }
  to {
    top: 90px;
    opacity: 0;
  }
}
