// bower:scss
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: "Alef Hebrew",
               “Helvetica Neue”,
               Helvetica,
               Arial,
               sans-serif;

}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  text-align: center;
  .buttons {
    float: right;
    i { font-size: 24px; padding-top: 6px; }
    a { text-decoration: none; }
  }
  a:hover { text-decoration: none; }

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin: 0 75px 0 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  margin-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;

  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;

  p + h4 {
    margin-top: 28px;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 1em;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
// app styles
.avatar { height: 110px; }
li { list-style: none; }
.container { position: relative; text-align: center; padding: 0; }
.sub {
  height: 470px;
  position: relative;
  background-image : url('/images/sub.jpg');
  padding-bottom: 3em;
  .row0 {
    position: absolute;
    top: 106px;
    .chair h1 { height:2em !important;  padding-top:0.3em; }
  }
  .row1 {
    position: absolute;
    top: 268px;
  }
  .subs-row {
    left: 45px;
    height: 14em;
    clear: both;
    // .row1 { clear: both; }
    .chair {
      width: 7em;
      float: right;
      padding-top: 0em;
      margin: 0.2em;
      text-align: center;
      h1 { margin:0;  font-size: 120%; height: 2.5em; font-weight: bold; }
      h2 { margin: 8px 0; font-size: 120%; height: 2em; }
     p { font-weight: bold; text-align: center; height: 3em; }
      img {
        height:110px;
      }
      .window img {
        position: relative;
        width:75px;
        height: 75px;
        overflow: hidden;
        border-radius: 40%;
        border: 4px inset;
        margin: 0 auto;
        .covered {
          position: absolute;
          top: -1px;
          right: -3px;
          height: 80px;
          width: 80px;
        }
      }
    }
  }
}
aside { float: left; }
#chair-form {
  z-index: 2;
  transform: rotate(4deg);
  position:absolute;
  right:165px;
  top:140px;
  width: 40%;
  margin: 0.5em auto 3em;
}
.footer {
  margin-top: 1em;
  clear: both;
  text-align: right;
  .license { float:left; }
}
.timer {
  float:left;
  span { font-size: 150%; }
}
.org {
  width: 80%;
  margin: 0 auto 2em;
  padding: 0.5em;
  background-color: white;
  border-radius: 5px;
  li { display: inline; }
  li.relation { display: block; text-align: right;}
  .ord2, .ord3 {font-size: 130%; }
  .ord4, .ord5, .ord6, .ord7 {font-weight: bold; }
  .ord1, .expanded {font-size: 180%; }
  i {color:grey;}
}
.candidate {
  text-align: center;
  img {display: block; float: right; padding: 0.5em; }
  // button { display: block; padding: 1em; clear:both; }
  .status { float: right; padding-left:0.5em; }
  .key, .text {font-weight: bold; }
  .party, .name {display:none; }
  p {text-align: right; }
}
.slide {
  width: 80%;
  margin: 0 auto;
  padding: 1.5em;
  text-align: center;
  .modal-footer { text-align: center; }
}
.splash {
  position: relative;
  background-image: url('/images/splash.png');
  width: 100%;
  height: 470px;
  .play { background-color: transparent;
    background-image: url('/images/play.png');
    background-position: -42px -18px;
    height: 66px;
    width: 100px;
    position: absolute;
    top: 330px;
    right: 292px;
  }
  .play:hover { background-position: -189px -18px; }
}
.loading { margin-top: 1em; height: 3em; position: relative; }
.ascii { font-family: monospace; }
.committee {
  .top {
    background-image: url('/images/committee_top.jpg');
    height: 250px;
    p {
      padding: 0 1em;
    }
  }
  .body {
    background-image: url('/images/committee_body.jpg');
    .details { width: 80%;  margin: 0 auto 1em; }
    .feed {
      padding: 1em 0em 0em 2em;
      ul { padding: 0 0 0.5em; }
      .message {
        padding-top: 1em;
        p { margin-bottom: 0; height: auto; }
        .icon { float: right; }
      }
    }
  }
}
.loading { position: relative; }

#fireworks-template {
 display:none;
}

#fireContainer {
 position:absolute;
 left:0px;
 top:0px;
 z-index:706;
}

.firework {
 /* containing box which flies out first */
 position:absolute;
 left:0px;
 top:0px;
 font-size:1px;
 width:4px;
 height:4px;
 border:1px solid #333;
 background:#666;
}

.fireworkParticle {
 /* elements that explode from the container */
 position:absolute;
 font-size:1px;
 width:10px;
 height:10px;
 overflow:hidden;
}

.fireworkParticle img {
 display:block;
 width:100px;
}

#sound {
 position:absolute;
 left:-706px;
 top:-706px;
}
canvas {
  position:absolute;
  top: 0;
  right: 0;
}
.ctrl {
  z-index: 9;
  position: fixed;
  width: 156px;
  height: 52px;
  margin-left: -100px; /*half the width*/
  top: 16px;
  background-color: rgb(175, 234, 250);
  padding: 0 1em;
  border-radius: 3px;
  margin-right: -16px;
}
.tooth {
  h3, h4 {
    margin: 0.5em;
    background-color: 0xc0c0c0;
    position: absolute;
    padding: 0.1em;
    text-align:right;
    width:12em;
  }
  h3 {
    transform: rotate(-90deg); 
    transform-origin: right top 0;
    top: 180px;
    width:12em;
  }
  h4 {
    transform: rotate(90deg);
    transform-origin: right top 0;
    padding-right: 3em;
    top: 260px;
  }
}
section { position: relative; }
.key-row { height: 10em;}
.publish {
  .keyring {
    position: absolute;
    top: 274px;
    left: 0px;
    background-color: olive;
    border-radius: 50%;
    width: 100px;
    height: 150px;
    div {
      position: absolute;
      top: 20px;
      left: 20px;
      background-color: white;
      border-radius: 50%;
      width: 60px;
      height: 110px;
    }
  }

  button {
    position: absolute;
    top: 515px;
    left: -30px;
  }
  input { width: 80%; }
  .modal-body { height: 420px; }
}
