'use strict';

if (!window.SETTINGS_LOADED) {

  window.SETTINGS_LOADED = true;

  // we set this on the window because we need it in the app config
  window.OPEN_SUBS_FB_APP_ID = '';

  angular.module('app.settings', [])

    .factory('SETTINGS', function() {
      return {
        // you should run open knesset on ssl because otherwise facebook might cause problems
        // backend: 'https://localhost:8000',
        storeElections: false,
        // TODO: next setting is not really used
        // what's the minimum staff size need to sail the sub?
        staffedSubChairs: 3,
        // TODO: remove this and use !SETTINGS.backend instead
        offline:true,
        // disable facebook integration - useful for automated testing
        noFacebook:true
      }
    })
  ;

}
