'use strict';

if (!window.SETTINGS_LOADED) {

  window.SETTINGS_LOADED = true;

  // we set this on the window because we need it in the app config
  window.OPEN_SUBS_FB_APP_ID = '';

  angular.module('app.settings', [])

    .factory('SETTINGS', function() {
      return {
        // you should run open knesset on ssl because otherwise facebook might cause problems
        'backend': 'https://localhost:8000',
        // set to true if you want to run without a backend, using fake data
        'offline': false,
        // disable facebook integration - useful for automated testing
        'noFacebook': false
      }
    })
  ;

}
